<div class="row">
    <div class="col-md-12 col-lg-12 text-center">
        <h2>Lista de Razas</h2>
        <input class="form-control mr-sm-2" v-model="filtrado" type="search" placeholder="Search" aria-label="Search">
        <div class="mt-2 table-wrapper-scroll-y">
            <div class="list-group" v-for="(item,index) in filteredItems" :key="index">
                <router-link :to="item+'/detail/'" v-text="item" class="list-group-item list-group-item-action"></router-link>
            </div>
        </div>
    </div>
</div>