<div class="row justify-content-center">
    <div class="col-lg-6 mt-2">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-fluid border rounded" @click="getIMG" alt="Cargando..." :src="srcIMG">
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="row">
                    <div class="col-12">
                        <h3>Nombre de la raza:<span v-text="name"></span></h3>
                    </div>
                    <div class="col mt-2">
                        <router-link :to="{ name: 'List' }" class="btn btn-primary btn-lg">
                            Volver a la pagina principal
                        </router-link>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>